h1,
h4 {
    text-align: end;
    color: rgb(63 158 217);
    padding: 2% 20% 0% 0%;
}

@font-face {
    font-family: roboto;
    src: url(/font/Roboto-Medium.ttf);
}

body {
    background-image: url("/img/hatter.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container {
    margin: 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: roboto;
    text-align: left;
    color: rgb(63 158 217);
}

.kep {
    text-align: center;
}