h1,
h4 {
    text-indent: 350px;
    color: rgb(63 158 217);
    padding: 10px 0px 0px 100px;
}

@font-face {
    font-family: roboto;
    src: url(/font/Roboto-Medium.ttf);
}

body {
    background-image: url("/img/hatter.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container {
    font-family: roboto;
    text-align: justify;
    color: rgb(63 158 217);
    padding: 10px 45px 10px 45px;
    margin: 20px 150px;
}

.elso {
    padding: 0px 50px;
}

q.idezet {
    text-align: right;
    padding-right: 50px;
}

.nevjegy {
    margin: auto auto;
    border: 1px solid red;
    padding: 40px 40px;
}

img {
    border: 1px solid red;
    display: block;
    margin: auto auto;
    width: 50%;
}

.center {
    width: 320px;
    border: 1px solid red;
    margin: auto auto;
}