h1,
h4 {
    color: rgb(63 158 217);
    padding: 10px 0px 0px 100px;
}

@font-face {
    font-family: sajat;
    src: url("/font/Roboto-Black.ttf");
}

body {
    background-image: url("/img/hatter.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: sajat;
}

.container {
    text-align: justify;
    color: rgb(63 158 217);
    padding: 10px 45px 10px 45px;
    margin: 20px 150px;
}

.elso {
    padding: 0px 50px;
}

q.idezet {
    text-align: right;
    padding-right: 50px;
}

.nevjegy {
    padding: 40px 40px;
}

img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}