h1,
h4 {
    color: rgb(63 158 217);
    padding: 8px 0px 0px 150px;
    text-align: right;
    text-align: center;
}

body {
    background-image: url("/img/hatter.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container {
    text-align: justify;
    color: rgb(63 158 217);
    padding: 45px;
}

.masodik {
    padding: 20px;
}

.idezet {
    text-align: right;
    margin: 0px;
    padding: 0px;
}
.nevjegy{
    padding: 70px 10px 20px 10px;
}